<footer class="footer bg-black text-white py-4">
    <div class="container">
      <div class="row">
        <!-- About Section -->
        <div class="col-md-4">
          <h5>About Us</h5>
          <p>We provide high-quality services and ensure customer satisfaction at all times.</p>
        </div>
  
        <!-- Quick Links -->
        <div class="col-md-4">
          <h5>Quick Links</h5>
          <ul class="list-unstyled">
            <li><a routerLink="/home" class="text-white text-decoration-none">Home</a></li>
            <li><a routerLink="/about" class="text-white text-decoration-none">About</a></li>
            <li><a routerLink="/contact" class="text-white text-decoration-none">Contact</a></li>
          </ul>
        </div>
  
        <!-- Social Media Links -->
        <div class="col-md-4 text-md-end">
          <h5>Follow Us</h5>
          <a href="https://facebook.com" target="_blank" class="text-white me-3">
            <i class="bi bi-facebook fs-4"></i>
          </a>
          <a href="https://twitter.com" target="_blank" class="text-white me-3">
            <i class="bi bi-twitter fs-4"></i>
          </a>
          <a href="https://instagram.com" target="_blank" class="text-white">
            <i class="bi bi-instagram fs-4"></i>
          </a>
        </div>
      </div>
  
      <!-- Copyright -->
      <div class="text-center mt-3">
        <p class="mb-0">&copy; {{ currentYear }} TaskHub. All Rights Reserved.</p>
      </div>
    </div>
  </footer>
  